img {
    display: block;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    height: 100%;
}

.card article {
    height: inherit;
    overflow: hidden;
}

.card .card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}

footer {
    background-color: rgb(12, 12, 12);
    padding: 1em 0em;
    text-align: center;
}